

html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    

}
h1,h2,h3,h4,h5,h6 {
    /* font-family: 'Handlee'; */
    font-family: 'Roboto', sans-serif;
}


.section-title h3 {
    font-weight: bolder;
    margin-bottom: 0px;
}
.hr-style {
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
    display: inline-block;
}
/* header stats here */
header {
    background-image: url(./images/pexels-pixabay-159844.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

.navbar {
    padding: 1% 7%;
    background-color: rgba(0, 0, 0, 0.3);
    
}
.navbar-icon {
    color: #ffff;

}
.home-icon {
    color: #2980b9;
    align-items: center;
}

.nav-link {
    color: #ffff;
    border-radius: 5px;
    margin: 7px;
    transition: .4s;

}
.nav-link:hover {
    background-color: #2980b9;
    color: #ffff;
    transform: scale(1.1);
}

.navbar-brand img {
    width: 80px;
    height: auto;
}
.banner-container {
    height: 100vh;
}
.banner-contents h1 {
    font-size: 3.5rem;
    background-color: rgba(7, 101, 189, 0.8);
    font-family: 'Handlee';
    padding: 10px;
    border-radius: 5px;
}

/* header ends here */

/* features starts */
#features { 
    background: #e8ded2;
    padding: 5% 10%;
}

.features-col{
    border: 1px solid #ff02c0;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    transition: .4s;
}

.features-col:hover {
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}

.icon-style {
    background: #bb0aac;
    color: white;
    padding: 15px;
    margin: 5px 0;

}

.rounded-circle {

}
/* features ens */
/* about me starts here */
#about-me {
    padding: 5% 10%;
    background: #e8ded2;

}
#about-me p {
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: light;
}

.star i {
    width: 10px;
    padding: 10px;
    margin: 7px;
}

/* about me ends here */