html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;

}
h1,h2,h3,h4,h5,h6 {
    /* font-family: 'Handlee'; */
    font-family: 'Roboto', sans-serif;
}
/* header stats here */
header {
    background-image: url(./images/pexels-pixabay-159844.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

.navbar {
    
}

.banner-container {
    height: 100vh;
}

/* header ends here */